<section class="taskBox">
  <h1>ToDo List</h1>
  <form>
    <p>A place to store your to-dos</p>
    <input type="text" placeholder="Filter your to-dos" />
  </form>
  <ol>
    <li *ngFor="let todoItem of getFilteredTodos()">
      <button
        class="completeButton"
        type="button"
        *ngIf="!todoItem.completed"
        (click)="done(todoItem)"
      >
        Complete</button
      ><span [ngClass]="{ done: todoItem.completed }">{{ todoItem.task }}</span>
      <button class="xButton" (click)="delete(todoItem)">x</button>
    </li>
  </ol>
  <form (ngSubmit)="addTask()">
    <input name="add" type="text" placeholder="Add your to-dos" />
    <button type="submit" class="addButton" (click)="addTask()">Add</button>
  </form>
</section>
